/*Style the Header*/
header {
    background-color:red;
    text-align: center;
    overflow: hidden;
    float: none;
    width: 100%;
    height: auto;
  }

  header h1 {
      color: #f2f2f2;
      display: block;
      text-align: center;
      font-size: 4vw;
  }
/* Style the navbar */

nav {
    overflow: hidden;
    background-color: blue;
    width: 100%;
    height: auto;
    font-size: 1vw;
}
  
  /* Navbar links */
  nav a {
    float: none;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    height: auto;
    padding: 1%;
    text-decoration: none;
  }
  section
  {
    width: fit-content
  }
  section h1
  {
    font-size: 3vw;
  }
  section h5
  {
    font-size: 2vw;
    text-align: center
  }
  article
  {
    width: fit-content;
  }
  article h2
  {
    font-size: 2vw;
  }
  article h4
  {
    font-size: 2vw;
  }
  article p
  {
    font-size: 1vw;
  }