/*Style the Header*/
header {
    background-color:red;
    text-align: center;
    overflow: hidden;
    float: none;
    width: 100%;
    height: auto;
  }

  header h1 {
      color: #f2f2f2;
      display: block;
      text-align: center;
  }
/* Style the navbar */

nav {
    overflow: hidden;
    background-color: blue;
    width: 100%;
    height: auto;
}
  
  /* Navbar links */
  nav a {
    float: none;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    height: auto;
    padding: 1%;
    text-decoration: none;
  }
  section
  {
    width: fit-content
  }
  article
  {
    width: fit-content;
  }