/*Style the Header*/
header {
    background-color:red;
    text-align: center;
    overflow: hidden;
  }

  header h1 {
      color: #f2f2f2;
  }
/* Style the navbar */

nav {
    overflow: hidden;
    background-color: blue;
}
  
  /* Navbar links */
  nav a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }